$buttonSelected:  #FF8C0D;
$buttonUnselected: #321A00;
$black: black;
$bgGrey: #1e1e1e;
$primaryText: white;
$borderWidth: 2px;
$borderType: solid;
$borderRadius: 5px;

@font-face {
   font-family: eurostyle;
   src: url(EurostileBold.ttf)
}

*{
   font-family: eurostyle;
   color: $primaryText;
   margin: 0px;
}
body {
   background-color: $black;
}
select {
   background-color: $bgGrey;
}
input {
   background-color: $bgGrey;
}

#app {
   height: auto;
}
.navbar{
	grid-area: navbar;
	background-color: $bgGrey;
	height: 5vh;
   text-align: center;
}
#fileSelectButton{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#left_bar{
	grid-area: left_bar;
	background-color: $buttonUnselected;
	height: 95vh;
	width: 20vw;
	overflow:auto;
   padding-left: 1%;
}
#getStarted{
	font-size: 2em;
   text-align: center;
   height: auto;
   line-height: 3em;
}
#savior {
   border: $borderWidth $borderType $buttonSelected;
   background-color: $buttonUnselected;
   border-radius: $borderRadius;
   font-size: 2em;
   padding: .5%;
}


$keySize: 2.5vw;
#bigWrapper {
   display: grid;
   grid-template-columns: repeat(90, $keySize/4);
   grid-template-rows: repeat(6, $keySize);
   grid-column-gap: 0px;
   grid-row-gap: $keySize/4;
}
#biggestWrapper{
   display:flex
}
.TKLkeyWrapper{
   display: contents;
}

@for $size from 1 to 26 {
   .keyWidth-#{$size} {
      grid-column: auto / span #{$size};
   }
}

.keyBorder {
   border: $borderWidth $borderType $buttonSelected;
   padding-left: .25em;
   padding-top: .25em;
   font-size: .75vw;
   background-color: $buttonUnselected;
   cursor: pointer;
}
.keyBorder:active {
   background-color: $buttonSelected;
}
#numWrapper {
   display: grid;
   grid-template-columns: repeat(20, $keySize/4);
   grid-template-rows: repeat(6, $keySize);
   grid-column-gap: 0px;
   grid-row-gap: $keySize/4;
   margin-left: 1vw;
}

.numkeyWrapper{
   display: contents;
}
.tallboy{
   grid-column: auto / span 4;
   grid-row: auto / span 2;
   height: 100%;
   justify-content: center;
}