@font-face {
  font-family: eurostyle;
  src: url(EurostileBold.ttf);
}

* {
  font-family: eurostyle;
  color: white;
  margin: 0px;
}

body {
  background-color: black;
}

select {
  background-color: #1e1e1e;
}

input {
  background-color: #1e1e1e;
}

#app {
  height: auto;
}

.navbar {
  grid-area: navbar;
  background-color: #1e1e1e;
  height: 6vh;
  text-align: center;
}

#fileSelectButton {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#left_bar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  background-color: #321A00;
  height: 95vh;
  width: 20vw;
  overflow: auto;
  padding-left: 1%;
}

#getStarted {
  font-size: 2em;
  text-align: center;
  height: auto;
  line-height: 3em;
}

#savior {
  border: 2px solid #FF8C0D;
  background-color: #321A00;
  border-radius: 5px;
  font-size: 2em;
  padding: .5%;
}

#bigWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.625vw)[90];
      grid-template-columns: repeat(90, 0.625vw);
  -ms-grid-rows: (2.5vw)[6];
      grid-template-rows: repeat(6, 2.5vw);
  grid-column-gap: 0px;
  grid-row-gap: 0.625vw;
}

#biggestWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [first] 40vh [second] 54vh;
      grid-template-rows: [first] 40vh [second] 54vh;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.TKLkeyWrapper {
  display: contents;
}

.keyWidth-1 {
  grid-column: auto/span 1;
}

.keyWidth-2 {
  grid-column: auto/span 2;
}

.keyWidth-3 {
  grid-column: auto/span 3;
}

.keyWidth-4 {
  grid-column: auto/span 4;
}

.keyWidth-5 {
  grid-column: auto/span 5;
}

.keyWidth-6 {
  grid-column: auto/span 6;
}

.keyWidth-7 {
  grid-column: auto/span 7;
}

.keyWidth-8 {
  grid-column: auto/span 8;
}

.keyWidth-9 {
  grid-column: auto/span 9;
}

.keyWidth-10 {
  grid-column: auto/span 10;
}

.keyWidth-11 {
  grid-column: auto/span 11;
}

.keyWidth-12 {
  grid-column: auto/span 12;
}

.keyWidth-13 {
  grid-column: auto/span 13;
}

.keyWidth-14 {
  grid-column: auto/span 14;
}

.keyWidth-15 {
  grid-column: auto/span 15;
}

.keyWidth-16 {
  grid-column: auto/span 16;
}

.keyWidth-17 {
  grid-column: auto/span 17;
}

.keyWidth-18 {
  grid-column: auto/span 18;
}

.keyWidth-19 {
  grid-column: auto/span 19;
}

.keyWidth-20 {
  grid-column: auto/span 20;
}

.keyWidth-21 {
  grid-column: auto/span 21;
}

.keyWidth-22 {
  grid-column: auto/span 22;
}

.keyWidth-23 {
  grid-column: auto/span 23;
}

.keyWidth-24 {
  grid-column: auto/span 24;
}

.keyWidth-25 {
  grid-column: auto/span 25;
}

.keyHeight-1 {
  grid-row: auto/span 1;
}

.keyHeight-2 {
  grid-row: auto/span 2;
}

.keyHeight-3 {
  grid-row: auto/span 3;
}

.keyHeight-4 {
  grid-row: auto/span 4;
}

.keyHeight-5 {
  grid-row: auto/span 5;
}

.keyBorder {
  border: 2px solid #FF8C0D;
  padding-left: .25em;
  padding-top: .25em;
  font-size: .75vw;
  cursor: pointer;
}

.keyState-0 {
  background-color: #321A00;
}

.keyState-1 {
  background-color: #FF8C0D;
}

.keyBorder:active {
  background-color: #FF8C0D;
}

#numWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.625vw)[20];
      grid-template-columns: repeat(20, 0.625vw);
  -ms-grid-rows: (2.5vw)[6];
      grid-template-rows: repeat(6, 2.5vw);
  grid-column-gap: 0px;
  grid-row-gap: 0.625vw;
  margin-left: 1vw;
}

.numkeyWrapper {
  display: contents;
}

.extraKey {
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mouseWrapper {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  height: 200px;
  width: 500px;
}

#mouseBox1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

#mouseBox2 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

#mouseBox3 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

#mouseBox4 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

#mouseBox5 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

#mouseBox6 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

#mouseBox7 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
}

#mouseBox8 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

#mouseBox9 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
}

#mouseControlList {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 4;
  grid-column: 4;
}

#mouse {
  width: auto;
  height: 100%;
  margin: auto;
  display: block;
}

#arrowUp {
  width: auto;
  height: 4vw;
  margin: auto;
  display: block;
  cursor: pointer;
}

#arrowLeft {
  width: auto;
  height: 4vw;
  margin: auto;
  display: block;
  cursor: pointer;
  margin-top: 100%;
}

#arrowRight {
  width: auto;
  height: 4vw;
  margin: auto;
  display: block;
  cursor: pointer;
  margin-top: 100%;
}

#arrowDown {
  width: auto;
  height: 4vw;
  margin: auto;
  display: block;
  cursor: pointer;
}

#scrollup {
  position: absolute;
  -webkit-transform: translate(56px, -235px) scale(45%, 45%);
          transform: translate(56px, -235px) scale(45%, 45%);
  cursor: pointer;
}

#scrolldown {
  position: absolute;
  -webkit-transform: translate(33px, -177px) scale(36%, 36%);
          transform: translate(33px, -177px) scale(36%, 36%);
  cursor: pointer;
}

#leftClick {
  -webkit-transform: translate(13px, -178px);
          transform: translate(13px, -178px);
  position: absolute;
  cursor: pointer;
}

#middleClick {
  -webkit-transform: translate(83px, -167px);
          transform: translate(83px, -167px);
  position: absolute;
  cursor: pointer;
}

#rightClick {
  -webkit-transform: translate(102px, -172px);
          transform: translate(102px, -172px);
  position: absolute;
  cursor: pointer;
}
/*# sourceMappingURL=global.css.map */