$buttonSelected:  #FF8C0D;
$buttonUnselected: #321A00;
$black: black;
$bgGrey: #1e1e1e;
$primaryText: white;
$borderWidth: 2px;
$borderType: solid;
$borderRadius: 5px;

@font-face {
   font-family: eurostyle;
   src: url(EurostileBold.ttf)
}

*{
   font-family: eurostyle;
   color: $primaryText;
   margin: 0px;
}
body {
   background-color: $black;
}
select {
   background-color: $bgGrey;
}
input {
   background-color: $bgGrey;
}

#app {
   height: auto;
}
.navbar{
	grid-area: navbar;
	background-color: $bgGrey;
	height: 6vh;
   text-align: center;
}
#fileSelectButton{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#left_bar{
	grid-row: 1 / span 2;
   grid-column: 1 / 1;
	background-color: $buttonUnselected;
	height: 95vh;
	width: 20vw;
	overflow:auto;
   padding-left: 1%;
}
#getStarted{
	font-size: 2em;
   text-align: center;
   height: auto;
   line-height: 3em;
}
#savior {
   border: $borderWidth $borderType $buttonSelected;
   background-color: $buttonUnselected;
   border-radius: $borderRadius;
   font-size: 2em;
   padding: .5%;
}


$keySize: 2.5vw;
#bigWrapper {
   display: grid;
   grid-template-columns: repeat(90, $keySize/4);
   grid-template-rows: repeat(6, $keySize);
   grid-column-gap: 0px;
   grid-row-gap: $keySize/4;
}
#biggestWrapper{
   display:grid;
   grid-template-rows: [first] 40vh [second] 54vh;
   grid-template-columns: repeat(3, 1fr);
}
.TKLkeyWrapper{
   display: contents;
}

@for $size from 1 to 26 {
   .keyWidth-#{$size} {
      grid-column: auto / span #{$size};
   }
}

@for $size from 1 to 6 {
   .keyHeight-#{$size} {
      grid-row: auto / span #{$size};
   }
}

.keyBorder {
   border: $borderWidth $borderType $buttonSelected;
   padding-left: .25em;
   padding-top: .25em;
   font-size: .75vw;
   cursor: pointer;
}
.keyState-0 {
   background-color: $buttonUnselected;
}

.keyState-1 {
   background-color: $buttonSelected;
}

.keyBorder:active {
   background-color: $buttonSelected;
}

#numWrapper {
   display: grid;
   grid-template-columns: repeat(20, $keySize/4);
   grid-template-rows: repeat(6, $keySize);
   grid-column-gap: 0px;
   grid-row-gap: $keySize/4;
   margin-left: 1vw;
}

.numkeyWrapper{
   display: contents;
}
.extraKey{
   height: 100%;
   justify-content: center;
}
.mouseWrapper{
   grid-row: 2;
   grid-column: 2;
   display: inline-grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(3, 1fr);
   height:200px;
   width:500px;
}

$boxNum: 1;
@for $y from 1 to 4 {
   @for $x from 1 to 4 {
      #mouseBox#{$boxNum} {
         grid-column: #{$x};
         grid-row: #{$y};
      }
      $boxNum: $boxNum + 1;
   }
}


#mouseControlList{
   grid-row: 2;
   grid-column: 4;

}

$boxHeight: 4vw;
#mouse{
   width: auto;
   height:100%;
   margin: auto;
   display:block;
}
#arrowUp{
   width: auto;
   height:$boxHeight;
   margin:auto;
   display:block;
   cursor:pointer;
}
#arrowLeft{
   width: auto;
   height:$boxHeight;
   margin:auto;
   display:block;
   cursor:pointer;
   margin-top:100%;
}
#arrowRight{
   width: auto;
   height:$boxHeight;
   margin:auto;
   display:block;
   cursor:pointer;
   margin-top:100%;
}
#arrowDown{
   width: auto;
   height:$boxHeight;
   margin:auto;
   display:block;
   cursor:pointer;
}

#scrollup{
   position: absolute;
   transform:translate(56px, -235px) scale(45%, 45%);
   cursor:pointer;
}
#scrolldown{
   position: absolute;
   transform: translate(33px, -177px) scale(36%, 36%);
   cursor:pointer;
}
#leftClick{
   transform: translate(13px, -178px);
   position: absolute;
   cursor: pointer;
}
#middleClick{
   transform: translate(83px, -167px);
   position: absolute;
   cursor: pointer;
}
#rightClick{
   transform: translate(102px, -172px);
   position: absolute;
   cursor: pointer;
}